
.homeBar{
    display: inline-block;
    display: fixed;
    background-color :#4B388D;
    height: 5rem;
    padding : 1rem;
    width: 100%;
}
.h1_home{
    position : relative;
    left : 3rem;
    color : #FBFCF5;
    
}
.about_card{
    display: inline-block;
    height: 80rem;


}
.about_top{
    background-color :#426A8D;
    height: 40rem;
}
.p_about{
    position : relative;
    float : right;
    align-items: center;
    padding : 1rem;
    height: 30rem;
    font-size: 5rem;
    color :#FBFCF5;

}
.p_aboutInfo{
    height: 30rem;
    right : 3rem;
    font-size: 2rem;
    color :#000000;

}
.picture{
    width : 60rem;
    padding: 2rem;
    float : left;
}
.start_button{
    width : 2rem;

}

