.homeBar{
    display: inline-block;
    display: fixed;
    background-color :#4B388D;
    height: 5rem;
    padding : 1rem;
    width: 100%;
}
.h1_home{
    position : relative;
    left : 3rem;
    color : #FBFCF5;
    
}
.about_card{
    display: inline-block;
    height: 80rem;


}
.about_top{
    background-color :#426A8D;
    height: 40rem;
}
.p_about{
    position : relative;
    float : right;
    align-items: center;
    padding : 1rem;
    height: 30rem;
    font-size: 5rem;
    color :#FBFCF5;

}
.p_aboutInfo{
    height: 30rem;
    right : 3rem;
    font-size: 2rem;
    color :#000000;

}
.picture{
    width : 60rem;
    padding: 2rem;
    float : left;
}
/* Layout for Button Container */
.button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem; 
    align-items: flex-start;
}
  /* Custom button styles */
  .custom-start-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .custom-pause-button {
    background-color: #ffc107; 
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .custom-stop-button {
    background-color: #dc3545; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }

button {
    width: 12rem;
    height: 6rem;
    background-color: #ffcc00; 
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*Input*/
.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    width: 400px; 
    margin-right: auto; 
}

input[type="number"] {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    width: 100%;
}

input:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
}
